#game-board {
	border:#000 2px solid;
	margin-left:auto;
	margin-right:auto;
}

#game-board td {
	border:#000 2px solid;
	transition:all 0.3s linear;
	width:200px;
	height:200px;
	text-align:center;
	font-size:5em;
}

#game-board td:hover {
	background-color:#DDD;
	transition:all 0.3s linear;
	cursor:pointer;
}

#playerOrder {
	text-align:center;
}

.jumbotron {
	text-align: center;
	
}

body {
	background-color: black;
}

table {
	background-color: gray;

}
.container {
		padding-top: 3em;
    width: 50%;
    height: 100px;
}
